#container {
    display: flex;
}

#menu-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#menu-container-2 {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.menu-all {
    display: inline-block;
    width: auto;
}

.hidden {
    display: none;
}
