#menu-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.menu-all {
    display: inline-block;
    width: auto;
}

/* .menu-item {
    display: block;
    width: auto;
} */

.hidden {
    display: none;
}
